



/* panel-grid-grid */
.panel-wrap{
	padding-left: 0px;


}
a:hover{
  text-decoration:none; 
}
.panel-grid {
	margin-left: 0px;
	margin-right:0px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: transparent;
  border-radius: 0;
  width: 201.5px;
  float: left;
  padding: 10px;
  
}

.panel-grid:hover{
  -webkit-box-shadow: 0 0 5px red;
          box-shadow: 0 0 5px red;
}

.panel-grid-body {
  padding: 15px;

}
.panel-grid-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-grid-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-grid-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-grid-title > a,
.panel-grid-title > small,
.panel-grid-title > .small,
.panel-grid-title > small > a,
.panel-grid-title > .small > a {
  color: inherit;
}
.panel-grid-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}




/*   Category Dropdown list  */


ul.base a{
  list-style-type: none;
}

li.sublist1{
    display: none;
}

li.baselist:hover li.sublist1{
    display: block;
    margin-left: 15px;

}

li.sublist1 a{
  color: green;
}



.position_fixed{
  position: fixed;
}



.margin-left{
  margin-left: 0;
}


.margin-right{
  margin-right: 0;
}


/*     col-md-3, col-md-9       */

.col-md-3{
  position: relative;
  min-height: 1px;
  padding-right: 3px;
  padding-left: 0px;

} 
.col-md-9{
  
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 3px;
}